@import './utils.scss';

.boxWindow {
  @include boxBase;
  grid-area: editor;
}

.descriptor{
  @include headerBox;
  font-size: 1.5em;
}

.editorBox{
  @include contentDisplay;
  resize: none;
  white-space: pre-wrap;
  * {
    margin: 0;
  }
}
